<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bookish - About Us</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/books.css"/>

    <style>
        td, th {
            border: 1px solid #000000;
            padding: 6px;
        }

        tr:nth-child(even){background-color: #f2f2f2;}

        tr:hover {background-color: #ddd;}

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #748ab9;
            color: white;
        }
        table {
            width: 100%;
        }

    </style>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>
    <div class="container">
        <h2>All books in the database:</h2>

        <table class="book-list">
            <tr>
                <th>BookID</th>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Category</th>
                <th>Delete</th>
            </tr>

                <tr th:each="book : ${model.books}" class="book">
                    <td th:text="${book.BookID}">*</td>
                    <td th:text="${book.title}">*</td>
                    <td th:text="${book.author}">*</td>
                    <td th:text="${book.isbn}">*</td>
                    <td th:text="${book.category}">*</td>
                    <td><a th:href="${'/books/delete-book?bookId=' + book.BookID}" class="delete-button">delete</a></td>
                </tr>
        </table>

        <h2>Add a book:</h2>
        <form th:action="@{/books/add-book}" method="post">
            <div class="add-book-row">
                <label>
                    <span>Title: </span>
                    <input type="text" name="title">
                </label>
            </div>
            <div class="add-book-row">
                <label>
                    <span>Author: </span>
                    <input type="text" name="author">
                </label>
            </div>
            <div class="add-book-row">
                <label>
                    <span>ISBN: </span>
                    <input type="text" name="isbn">
                </label>
            </div>
            <div class="add-book-row">
                <label>
                    <span>Category: </span>
                    <input type="text" name="category">
                </label>
            </div>
            <div class="add-book-row">
                <span><!-- spacer --></span>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
</body>
</html>

