<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all users</title>
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <style>
        td, th {
            border: 1px solid #000000;
            padding: 6px;
        }

        tr:nth-child(even){background-color: #f2f2f2;}

        tr:hover {background-color: #ddd;}

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #7e97ce;
            color: white;
        }

    </style>

</head>
<body>
<div class="container">

<h2>List of all users</h2>
</div>
</body>
</html>