<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all users</title>
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/users.css"/>
    <style>
        td, th {
            border: 1px solid #000000;
            padding: 6px;
        }

        tr:nth-child(even){background-color: #f2f2f2;}

        tr:hover {background-color: #ddd;}

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #7e97ce;
            color: white;
        }

    </style>

</head>
<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>

<div class="container">
<h2>List of all users</h2>
    <table class="user-list">
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Applied Fees</th>
        </tr>

        <tr th:each="user : ${model.users}" class="user">
            <td th:text="${user.UserID}">*</td>
            <td th:text="${user.FirstName}">*</td>
            <td th:text="${user.LastName}">*</td>
            <td th:text="${user.Email}">*</td>
            <td th:text="${user.Address}">*</td>
            <td th:text="${user.AppliedFees}">*</td>
        </tr>

    </table>

    <h2>Add user:</h2>
    <form th:action="@{/users/add-user}" method="post">
        <div class="add-user-row">
            <label>
                <span>First name: </span>
                <input type="text" name="firstName">
            </label>
        </div>
        <div class="add-user-row">
            <label>
                <span>Last name: </span>
                <input type="text" name="lastName">
            </label>
        </div>
        <div class="add-user-row">
            <label>
                <span>Email: </span>
                <input type="text" name="email">
            </label>
        </div>
        <div class="add-user-row">
            <label>
                <span>Address: </span>
                <input type="text" name="address">
            </label>
        </div>
        <div class="add-user-row">
            <label>
                <span>Applied fees: </span>
                <input type="number" name="appliedFees">
            </label>
        </div>
        <div class="add-user-row">
            <span><!-- spacer --></span>
            <input type="submit" value="Submit" />
        </div>
    </form>

</div>
</body>
</html>